@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animate-gradient {
  background: linear-gradient(270deg, #a1c4fd, #c2e9fb, #fcb69f, #ffafbd);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}
